body {
  font-family: 'Raleway';
  font-weight: 400;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: auto;
}

.header-title {
  font-style: normal;
}

.header-title h2 {
  font-size: 36px;
  text-align: center;
  align-items: center;
  margin: 57px 0;
}


.header__separator {
  border-bottom: 1px solid #EC7979;
  width: 170px;
  margin: 0px auto 40px;
}

.header-title p {
  text-align: center;
  color: #86878B;
  margin-bottom: 71px;
  font-size: 18px;
}

.btn_white a {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: 2px solid #FFFFFF;
  text-decoration: none;
  color: #fff;
  padding: 20px 91px;

}

.btn_white a:hover {
  color: #EC7979;
  border-color: #EC7979;
}

.btn_white a:active {
  border-color: #AB4949;
  background-color: #AB4949;
  color: #fff;
}

.btn_white-long a {
  padding: 20px 140px;
}

/* header */

.header {
  background-color: #000;
}

.header__container {
  width: 1225px;
  margin: auto;
  display: flex;
  padding: 1px 170px 1px 115px;
  justify-content: space-between;
}

.header__menu {
  display: flex;
}

.header__menu a {
  width: 114px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  padding: 30px 0;
}

.header__menu a:hover {
  background-color: #EC7979;
}

.header__menu a:active {
  background-color: #AB4949;
}


/* main */

.main {
  background: #413A38 url(../img/main/bg.jpg) center center / cover;
  padding: 207px 0 185px;
}

.main__container {
  display: flex;
  justify-content: space-between;
}

.main__offer{
  margin-top: 23px;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
  margin: 73px 0 55px;
}

.header__separator_white {
  border-color: #fff;
  margin: 0;
}

.main__offer p {
  font-size: 18px;
  line-height: 21px;
  margin: 42px 0px;
  color: #FFFFFF;
}




/* .main__form {
  width: 470px;
  height: 450px;
  background-color: #fff;
} */

/* social media section  */

.social-media {
  background-color: #F8EFEF;
  padding: 16px 0 18px;
}

.social-media__container {
  display: flex;
  justify-content: space-between;
}

.social-media__inf h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  margin-bottom: 39px;
}

.social-media__inf p {
  color: #86878B;
  font-size: 18px;
  line-height: 21px;
}

.social-media__icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.social-media__icon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* about section */

.about__cards {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 58px;
}

.about__card {
  height: 383px;
  width: 370px;
  text-align: center;
}  

.about__card h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  margin: 34px 0;
}

.about__card p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 8px;
  display: flex;
  align-items: center;
  font-style: normal;
}

/* price section */

.price {
  background-color: #F5F5F5;
  display: flex;
}

.price__header {
  margin-top: 107px;
}

.price__cards {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.price__item {
  width: 370px;
  text-align: center;
}

.price__item:hover {
  margin-top: -20px;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.price__item__title, .price__item__value, .price__item__free-for {
  background-color: #333333;
  border-bottom: 2px solid #F5F5F5;
  display: flex;
  align-items: center;
}

.price__item__title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  height: 60px;
}

.price__item__value {
  font-weight: 700;
  font-size: 36px;
  height: 100px;
}

.price__item__title p, .price__item__value p  {
  color: #FFFFFF;
  margin: auto;
}

.price__item__free-for {
  font-size: 18px;
  height: 50px;
}

.price__item__free-for p {
  color: rgba(255, 255, 255, 0.5);
  margin: auto;
}

.price__item li {
  font-size: 18px;
  background-color: #FFFFFF;
  border-bottom: 2px solid #F5F5F5;
  padding: 15px 0 14px 0;
  
}

/* opinion section */

.opinion {
  padding: 53px 0 64px 0;
}

.opinion__cards {
  display: flex;
  justify-content: space-between;
}

.opinion__item__body {
  text-align: center;
  width: 370px;
  margin-bottom: 46px;
  position: relative;
  
}
.opinion__item__body p {
  font-size: 18px;
  color: #86878B;
  height: 180px;
  background-color: #E2E2E2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 25px;
}


.opinion__item__body::after {
  content: " ";
  position: absolute;
  border: 15px solid transparent; border-top: 20px solid #E2E2E2;
  left: 70px;
}

.opinion__item__author {
  display: flex;
  
}

.opinion__item__author img {
  margin-right: 30px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  object-fit: cover;
}

.opinion__item__author p {
font-family: 'Open Sans';
font-weight: 700;
font-size: 24px;
margin: 18px 0;
}

.opinion__item__author span {
  font-size: 18px;
}

/* banner section */

.banner {
  background: #413A38 url(../img/banner/banner_bg.jpg) center center / cover;
  padding: 52px 0 50px;
}

.banner__header {
  color: #fff;
}

.banner__header .header__separator_white {
  margin: auto;
}

.banner__header p {
  margin: 40px 0 73px;
  color: #fff;
}

.banner .btn_white-long  {
  text-align: center;
}

/* footer */

.footer {
  background-color: #000;
  padding: 35px 0 27px;
  text-align: center;
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 33px;
  margin-bottom: 28px;
}

.footer__icon {
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer p {
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}








